<!DOCTYPE html>
<html>

<head>

<title>Loan Prediction</title>

<style>

body{
font-family:Arial;
background:#f5f5f5;
}

.container{
width:60%;
margin:auto;
background:white;
padding:30px;
margin-top:20px;
box-shadow:0px 0px 10px gray;
}

input,select{
width:100%;
padding:10px;
margin:10px 0;
}

input[type=submit]{
background:green;
color:white;
border:none;
cursor:pointer;
}

</style>

</head>

<body>

<div class="container">

<h2>Enter Applicant Details</h2>

<form action="/submit" method="POST">

<label>Gender</label>

<select name="Gender">
<option value="0">Male</option>
<option value="1">Female</option>
</select>

<label>Married</label>

<select name="Married">
<option value="1">Yes</option>
<option value="0">No</option>
</select>

<label>Dependents</label>

<input type="number" name="Dependents">

<label>Education</label>

<select name="Education">
<option value="1">Graduate</option>
<option value="0">Not Graduate</option>
</select>

<label>Self Employed</label>

<select name="Self_Employed">
<option value="1">Yes</option>
<option value="0">No</option>
</select>

<label>Applicant Income</label>

<input type="number" name="ApplicantIncome">

<label>Co Applicant Income</label>

<input type="number" name="CoapplicantIncome">

<label>Loan Amount</label>

<input type="number" name="LoanAmount">

<label>Loan Amount Term</label>

<input type="number" name="Loan_Amount_Term">

<label>Credit History</label>

<input type="number" name="Credit_History">

<label>Property Area</label>

<select name="Property_Area">
<option value="2">Urban</option>
<option value="1">Semiurban</option>
<option value="0">Rural</option>
</select>

<br><br>

<input type="submit" value="Predict Loan">

</form>

</div>

</body>
</html>